title: "mofy100のブログ"
description: "mofy100のブログ"
url: "https://your-username.github.io"
baseurl: "/mypage"
thema: "beautiful-jekyll"

plugins:
  - jekyll-paginate-v2
pagination:
  enabled: true
  per_page: 5
  permalink: /page/:num/
  title: ':title - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  trail:
    before: 2
    after: 2


